**False, True**-Data values from the data type Boolean

In [ ]:
False == (1 > 2), True == (2 > 1)

(True, True)

**break**-Ends loop prematurely

In [ ]:
while(True):

  break # no infinite loop
print("hello world")

hello world

**and, or, not**-Logical operators:

(x and y) → both x and y must be True,
(x or y) → either x or y must be True,
(not x) → x must be false.

In [ ]:
x, y = True, False
(x or y) == True # True
(x and y) == False # True
(not y) == True # True

True

**for**- For loop declaration
for i in [0,1,2]:
print(i)

In [ ]:
for i in [0,1,2]:
 print(i)

0
1
2

**while**- While loop - same semantics

In [ ]:
j = 0
while j < 3:
  print(j)
  j = j + 1

0
1
2

**in**- Checks whether element is in sequence

In [ ]:
42 in [2, 39, 42] # True

True

**is**- Checks whether both elements point to the same object.

In [ ]:
y = x = 3
x is y # True
[3] is [3] # False

False

**None**- Empty value constant

In [ ]:
def f():
  x = 2
f() is None # True

True

**lambda**- Function with no name (anonymous function)

In [ ]:
(lambda x: x + 3)(3) # returns 6

6

**return**- Terminates execution of the function and passes the
flow of execution to the caller. An optional value after
the return keyword specifies the function result.

In [ ]:
def incrementor(x):
  return x + 1
incrementor(4) # returns 5

5

**Boolean**- The Boolean data type is a truth value, either

True or False. 
 The Boolean operators ordered by priority:

   not x → “if x is False, then x, else y”

   x and y → “if x is False, then x, else y”

   x or y → “if x is False, then y, else x”


-These comparison operators evaluate to True:

   1 < 2 and 0 <= 1 and 3 > 2 and 2 >=2 and
   
   1 == 1 and 1 != 0 # True

In [ ]:
## 1. Boolean Operations
x, y = True, False
print(x and not y) # True
print(not x and y or x) # True

True
True

In [ ]:
## 2. If condition evaluates to False
if None or 0 or 0.0 or '' or [] or {} or set():
# None, 0, 0.0, empty strings, or empty
# container types are evaluated to False
  print("Dead code") # Not reached

Integer,
Float 

An integer is a positive or negative number
without floating point (e.g. 3). A float is a
positive or negative number with floating point
precision (e.g. 3.14159265359).

The ‘//’ operator performs integer division.
The result is an integer value that is rounded
towards the smaller integer number
(e.g. 3 // 2 == 1).

In [ ]:
## 3. Arithmetic Operations
x, y = 3, 2
print(x + y) # = 5
print(x - y) # = 1
print(x * y) # = 6
print(x / y) # = 1.5
print(x // y) # = 1
print(x % y) # = 1s
print(-x) # = -3
print(abs(-x)) # = 3
print(int(3.9)) # = 3
print(float(3)) # = 3.0
print(x ** y) # = 9

5
1
6
1.5
1
1
-3
3
3
3.0
9

**String**- Python Strings are sequences of characters.
The four main ways to create strings are the
following.
1. Single quotes
'Yes'
2. Double quotes
"Yes"
3. Triple quotes (multi-line)
"""Yes
We Can"""
4. String method
str(5) == '5' # True
5. Concatenation
"Ma" + "hatma" # 'Mahatma'

These are whitespace characters in strings.
● Newline \n
● Space \s
● Tab \t

In [ ]:
## 4. Indexing and Slicing
s = "The youngest pope was 11 years old"
print(s[0]) # 'T'
print(s[1:3]) # 'he'
print(s[-3:-1]) # 'ol'
print(s[-3:]) # 'old'
x = s.split() # creates string array of words
print(x[-3] + " " + x[-1] + " " + x[2] + "s")
# '11 old popes'

T
he
ol
old
11 old popes

In [ ]:
## 5. Most Important String Methods
y = " This is lazy\t\n "
print(y.strip()) # Remove Whitespace: 'This is lazy'
print("DrDre".lower()) # Lowercase: 'drdre'
print("attention".upper()) # Uppercase: 'ATTENTION'
print("smartphone".startswith("smart")) # True
print("smartphone".endswith("phone")) # True
print("another".find("other")) # Match index: 2
print("cheat".replace("ch", "m")) # 'meat'
print(','.join(["F", "B", "I"])) # 'F,B,I'
print(len("Rumpelstiltskin")) # String length: 15
print("ear" in "earth") # Contains: True

This is lazy
drdre
ATTENTION
True
True
2
meat
F,B,I
15
True

**List**- A container data type that stores a
sequence of elements. Unlike strings, lists
are mutable: modification possible.

In [ ]:
l = [1, 2, 2]
print(len(l)) # 3

3

Adding
elements

Add elements to a list with (i) append, (ii)
insert, or (iii) list concatenation.
The append operation is very fast.

In [ ]:
[1, 2, 2].append(4) # [1, 2, 2, 4]
[1, 2, 4].insert(2,2) # [1, 2, 2, 4]
[1, 2, 2] + [4] # [1, 2, 2, 4]

[1, 2, 2, 4]

**Removal**- Removing an element can be slower.

In [ ]:
[1, 2, 2, 4].remove(1) # [2, 2, 4]

**Reversing**- This reverses the order of list elements.

In [ ]:
[1, 2, 3].reverse() # [3, 2, 1]

**Sorting**- Sorts a list. The computational complexity
of sorting is O(n log n) for n list elements.

In [ ]:
[2, 4, 2].sort() # [2, 2, 4]

**Indexing**- Finds the first occurence of an element in
the list & returns its index. Can be slow as
the whole list is traversed.

In [ ]:
[2, 2, 4].index(2) # index of element 4 is "0"
[2, 2, 4].index(2,1) # index of element 2 after pos 1 is "1"

1

**Stack**- Python lists can be used intuitively as stack
via the two list operations append() and
pop().

In [ ]:
stack = [3]
stack.append(42) # [3, 42]
stack.pop() # 42 (stack: [3])
stack.pop() # 3 (stack: [])

3

**Set**- A set is an unordered collection of
elements. Each can exist only once.

In [ ]:
basket = {'apple', 'eggs', 'banana', 'orange'}
same = set(['apple', 'eggs', 'banana', 'orange'])

**Dictionary**- The dictionary is a useful data structure for

storing (key, value) pairs.

In [ ]:
calories = {'apple' : 52, 'banana' : 89, 'choco' : 546}
print(calories)

{'apple': 52, 'banana': 89, 'choco': 546}

Membership
operator 

Check with the ‘in’ keyword whether the
set, list, or dictionary contains an element.
Set containment is faster than list
containment.

In [ ]:
basket = {'apple', 'eggs', 'banana', 'orange'}
print('eggs' in basket) # True
print('mushroom' in basket) # False

True
False

List and Set
Comprehens
ion

List comprehension is the concise Python
way to create lists. Use brackets plus an
expression, followed by a for clause. Close
with zero or more for or if clauses.
Set comprehension is similar to list
comprehension.

In [ ]:
# List comprehension
l = [('Hi ' + x) for x in ['Alice', 'Bob', 'Pete']]
print(l) # ['Hi Alice', 'Hi Bob', 'Hi Pete']
l2 = [x * y for x in range(3) for y in range(3) if x>y]
print(l2) # [0, 0, 2]
# Set comprehension
squares = { x**2 for x in [0,2,4] if x < 4 } # {0, 4}

['Hi Alice', 'Hi Bob', 'Hi Pete']
[0, 0, 2]

**map(func, iter)**- Executes the function on all elements of

the iterable

In [ ]:
list(map(lambda x: x[0], ['red',
'green', 'blue']))

['r', 'g', 'b']

map(func, i1, ...,
ik)

Executes the function on all k elements of
the k iterables

In [ ]:
list(map(lambda x, y: str(x) + ' ' +
y + 's' , [0, 2, 2], ['apple',
'orange', 'banana']))

['0 apples', '2 oranges', '2 bananas']

**string.join(iter)**- Concatenates iterable elements
separated by string

In [ ]:
' marries '.join(list(['Alice',
'Bob']))

'Alice marries Bob'

filter(func,
iterable)

Filters out elements in iterable for which
function returns False (or 0)

In [ ]:
list(filter(lambda x: True if x>17
else False, [1, 15, 17, 18]))

[18]

**string.strip()**- Removes leading and trailing
whitespaces of string

In [ ]:
print(" \n \t 42 \t ".strip())

42

**sorted(iter)**- Sorts iterable in ascending order

In [ ]:
sorted([8, 3, 2, 42, 5])

[2, 3, 5, 8, 42]

sorted(iter,
key=key)

Sorts according to the key function in
ascending order

In [ ]:
sorted([8, 3, 2, 42, 5], key=lambda
x: 0 if x==42 else x)

[42, 2, 3, 5, 8]

**help(func)**- Returns documentation of func

In [ ]:
help(str.upper("SARU"))

No Python documentation found for 'SARU'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

**zip(i1, i2, ...)**- Groups the i-th elements of iterators i1, i2,

... together

In [ ]:
list(zip(['Alice', 'Anna'], ['Bob',
'Jon', 'Frank']))

[('Alice', 'Bob'), ('Anna', 'Jon')]

**Unzip**- Equal to: 1) unpack the zipped list, 2) zip

the result

In [ ]:
list(zip(*[('Alice', 'Bob'),
('Anna', 'Jon')]))

[('Alice', 'Anna'), ('Bob', 'Jon')]

**enumerate(iter)**- Assigns a counter value to each element

of the iterable

In [ ]:
list(enumerate(['Alice', 'Bob',
'Jon']))

[(0, 'Alice'), (1, 'Bob'), (2, 'Jon')]

**Swappings number**- Swapping variables is a breeze in Python.

No offense, Java!

In [ ]:
a, b = 'Jane', 'Alice'
a, b = b, a
print(a,b)

Alice Jane

**Unpacking arguments**- Use a sequence as function arguments
via asterisk operator *. Use a dictionary
(key, value) via double asterisk operator **

In [ ]:
def f(x, y, z): return x + y * z
f(*[1, 3, 4])
f(**{'z' : 4, 'x' : 1, 'y' : 3})

13

**Extended Unpacking**- Use unpacking for multiple assignment

feature in Python

In [ ]:
a, *b = [1, 2, 3, 4, 5]
print(a)
print(b)

1
[2, 3, 4, 5]

**Merge two dictionaries**- Use unpacking to merge two dictionaries

into a single one

In [ ]:
x={'Alice' : 18}
y={'Bob' : 27, 'Ann' : 22}
z = {**x,**y}
print(z)

{'Alice': 18, 'Bob': 27, 'Ann': 22}

**lst.append(x)**- Appends element x to the list lst.

In [ ]:
l = []
l.append(42)
l.append(21)
[42, 21]

[42, 21]

**lst.clear()**- Removes all elements from the list
lst–which becomes empty.

In [ ]:
lst = [1, 2, 3, 4, 5]
lst.clear()
print(lst)

[]

**lst.copy()**- Returns a copy of the list lst. Copies only
the list, not the elements in the list (shallow
copy).

In [ ]:
lst = [1, 2, 3]
lst.copy()

[1, 2, 3]

**lst.count(x)**- Counts the number of occurrences of

element x in the list lst.

In [ ]:
lst = [1, 2, 42, 2, 1, 42, 42]
lst.count(42)

3

In [ ]:
lst.count(1)

2

**lst.extend(iter)**- Adds all elements of an iterable iter (e.g.

another list) to the list lst.

In [ ]:
lst = [1, 2, 3]
lst.extend([4, 5, 6])
print(lst)

[1, 2, 3, 4, 5, 6]

**lst.index(x)**- Returns the position (index) of the first
occurrence of value x in the list lst.

In [ ]:
lst = ["Alice", 42, "Bob", 99]
lst.index("Alice")

0

**lst.insert(i, x)**- Inserts element x at position (index) i in

the list lst.

In [ ]:
lst = [1, 2, 3, 4]
lst.insert(3, 99)
print(lst)

[1, 2, 3, 99, 4]

**lst.pop()**- Removes and returns the final element of

the list lst.

In [ ]:
lst = [1, 2, 3]
lst.pop()

3

**lst.remove(x)**-Removes and returns the first occurrence

of element x in the list lst.

In [ ]:
lst = [1, 2, 99, 4, 99]
lst.remove(99)
lst

[1, 2, 4, 99]

**lst.reverse()**- Reverses the order of elements in the list

lst.

In [ ]:
lst = [1, 2, 3, 4]
lst.reverse()
lst

[4, 3, 2, 1]

**lst.sort()**- Sorts the elements in the list lst in

ascending order.

In [ ]:
lst = [88, 12, 42, 11, 2]
lst.sort()
lst

[2, 11, 12, 42, 88]